name: Build Android APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        # This v1.2 version fixed the 'invalid user: user' bug
        uses: ArtemSBulgakov/buildozer-action@v1.2
        with:
          buildozer_version: stable

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CoreElite-APK
          path: bin/*.apk
